$color-white: #ffffff;
$background: #f2f2f2;
$radius-size: 5px;
$padding-size: 12px;
$color-green: #04aa6d;
$color-red: #ff0000;
$border: 1px solid #ccc;
$width-hieght-size:100%;
@mixin form-mixin($radius-size, $padding-size) {
  border-radius: $radius-size;
  padding: $padding-size;
  box-sizing: border-box;
  display: block;
}

form {
  background-color: $background;
  @include form-mixin($radius-size, $padding-size);
  .input-text {
    @include form-mixin($radius-size, $padding-size);
    width:$width-hieght-size;
    border:$border ;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    
  }
  .input-submit {
    @include form-mixin($radius-size, $padding-size);
    background-color: $color-green;
    color: $color-white;
    border: none;
    cursor: pointer;
    &:hover {
      background-color: $color-red;
    }
  }
}
.text-invalid{
  color : $color-red;
}

.input-invalid{
    border-color : $color-red;
  }


.modal{
  display: none; 
  position: fixed;
  z-index: 1;
  padding-top: 100px; 
  top: 0;
  width: $width-hieght-size; 
  height:$width-hieght-size; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
  .modal-content {
    background-color: $color-green;
    margin: auto;
    padding: 20px;
    border: $border;
    width: 50%;
  }
  
}


